---
Language: Cpp
BasedOnStyle: Google
UseCRLF: false
UseTab: Always
IndentWidth: 8
TabWidth: 8
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
ColumnLimit: 120
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
Standard: Latest
DerivePointerAlignment: false
PointerAlignment: Right
...
